<h3 class="text-center display-5">summary <small> <%- pageInfo.title %></small></h3>
<hr>

<!-- pie chart canvas element -->
<canvas id="myChart" width="400" height="400"></canvas>
<script>

  let chartTitle = <%= chartInfo.chartName %>;
  let chartName = <%- JSON.stringify(chartInfo.chartData.dataLabel) %>;
  let chartData = <%= chartInfo.chartData.dataValue %>;
  let chartColor = <%- JSON.stringify(chartInfo.chartData.dataColor) %>;

  new Chart(document.getElementById("myChart"), {
    type: 'pie',
    data: {
      labels: chartName,
      datasets: [{
        label: "Category and subcategory",
        backgroundColor: chartColor,
        data: [chartData]
      }]
    },
    options: {
      title: {
        display: true,
        text: chartTitle
      }
    }
  });
</script>
