<table class="table table-borderless">
  <thead class="thead-dark border-bottom border-danger">
    <th colspan="1" class="text-center"><i class="fab fa-gripfire"></i></th>
    <th colspan="2" class="text-center">Title: <a class="text-info"><%- statementInfo.statementName %></a></th>
    <th colspan="2" class="text-center">Type: <a class="text-info"><%- statementInfo.statementType %></a></th>
    <th colspan="2" scope="col" class="text-center">Date: <a class="text-info"><%- statementInfo.statementDate %></a></th>
  </thead>
  <thead class="thead-dark">
    <tr class="bg-dark text-light">
      <th scope="col" class="text-center">Date</th>
      <th scope="col" class="text-center">Description</th>
      <th scope="col" class="text-center">Withdraw</th>
      <th scope="col" class="text-center">Deposite</th>
      <th scope="col" class="text-center">Balance</th>
      <th scope="col" class="text-center"> <i class="twa twa-lg twa-sparkles"></i> </th>
    </tr>
  </thead>
  <tbody>
    <form id="statementUpload" action="/statement/upload/add" method="post">
    <% for(var j=0; j < transactionInfo.length; j++) { %>
      <tr class="card-1 ">
        <!-- form hidden fields - submit -->
        <input value="<%- transactionInfo[j].transId %>" type="hidden"  name="transId[]" />
        <input value="<%- transactionInfo[j].transDate %>" type="hidden" name="transDate[]" />
        <input value="<%- transactionInfo[j].transDesc %>" type="hidden" name="transDesc[]" />
        <input value="<%- transactionInfo[j].transWithdraw %>" type="hidden" name="transWithdraw[]" />
        <input value="<%- transactionInfo[j].transDeposite %>" type="hidden" name="transDeposite[]" />
        <input value="<%- transactionInfo[j].transBalance %>" type="hidden" name="transBalance[]" />
        <% if(transactionInfo[j].transWithdraw) { %>
          <input value="withdrawal" type="hidden" name="transType[]" />
        <% } %>
        <% if(transactionInfo[j].transDeposite) { %>
          <input value="deposite" type="hidden" name="transType[]" />
        <% } %>

        <td class="align-middle">
          <%- transactionInfo[j].transDate %>
        </td>
        <td class="align-middle">
          <%- transactionInfo[j].transDesc %>
        </td>
        <td class="align-middle">
          <%- transactionInfo[j].transWithdraw %>
        </td>
        <td class="align-middle">
          <%- transactionInfo[j].transDeposite %>
        </td>
        <td class="align-middle">
          <%- transactionInfo[j].transBalance %>
        </td>
        <td class="text-center align-middle">
          <div class="input-group mb-3">
            <input value=":)" type="hidden" name="transComment[]" />
            <select name="transCatName[]" class="form-control custom-select">
              <option value="nada">choose category</option>
              <% for(var z=0; z < dataCat.length; z++) { %>
                <% if (dataCat[z].catParent == "root" ) { %>
                  <optgroup label="<%= dataCat[z].catName %>">
                    <% for (var k=0; k < dataCat.length; k++) { %>
                      <% if (dataCat[z]._id == dataCat[k].catParent ) { %>
                        <option value="<%= dataCat[k]._id %>"><%= dataCat[k].catName %></option>
                      <% } %>
                    <% } %>
                  </optgroup>
                <% } %>
              <% } %>
            </select>
            <div class="input-group-append">
              <button class="btn btn-outline-info" type="button">
                <i class="fas fa-ellipsis-h"></i> </button>
            </div>
          </div>
        </td>
      </tr>
    <% } %>
    </form>
  </tbody>
</table>
