

<div class="btn-group-vertical">
  <ul class="list-group list-group-flush">
    <a id="sidebarCollapse" class="list-group-item list-group-item-action card-1 d-flex align-items-center">
      <i class="twa twa-lg twa-fire twa-2x mr-3"></i>
      search
    </a>
    <a href="/statement" class="list-group-item list-group-item-action card-1 d-flex align-items-center
      <% if (pageInfo.title == "Statement") { %> <%- pageInfo.active %> <% } %>">
      <i class="twa twa-lg twa-money-with-wings twa-2x mr-3"></i>
      statements
    </a>
    <a href="/investment" class="list-group-item list-group-item-action card-1 d-flex align-items-center
      <% if (pageInfo.title == "Investment") { %> <%- pageInfo.active %> <% } %>">
      <i class="fas fa-2x fa-piggy-bank mr-3 text-neon"></i>
      budget
    </a>
    <a href="/category" class="list-group-item list-group-item-action card-1 d-flex align-items-center
      <% if (pageInfo.title == "Category") { %> <%- pageInfo.active %> <% } %>">
      <i class="twa twa-lg twa-peach twa-2x mr-3"></i>
      category
    </a>
    <a href="/user" class="list-group-item list-group-item-action card-1 d-flex align-items-center
      <% if (pageInfo.title == "Users") { %> <%- pageInfo.active %> <% } %>">
      <i class="twa twa-lg twa-innocent twa-2x mr-3"></i>
      users
    </a>
  </ul>
  <%- include('../components/dropNav') -%>
</div>
