<% if(pageInfo.request === "GET") { %>
  <div class="row scrollYes h-90 pd-15">

    <% for(sta in dataSta) { %>
      <div class="col-4 word-break p-2">
        <div class="card card-2 container p-2">
          <form action="/statement/review" method="post" id="review<%- sta %>">
            <input name="statement" type="hidden" value="<%- dataSta[sta].statement_id %>">
          </form>
          <form action="/statement/remove" method="post" id="remove<%- sta %>">
            <input name="statement" type="hidden" value="<%- dataSta[sta].statement_id %>">
          </form>

          <h4><%- dataSta[sta].statementName %></h4>
          <h5><%- dataSta[sta].statementType %></h5>
          <h5><%- dataSta[sta].statementDate %></h5>
          <p><%- dataSta[sta].statementDesc %></p>
          <div class="row">
            <div class="col text-center">

              <div class="btn-group p-4 m-1" role="group">
                <button class="btn btn-outline-info" form="review<%- sta %>">
                  Review <i class="fas fa-angle-double-right animated infinite heartBeat slower delay-2s"></i>
                </button>
                <div class="btn-group btn-group-lg" role="group">
                  <button class="btn btn-outline-danger dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <button class="dropdown-item" form="remove<%- sta %>">
                      Delete statement
                    </button>
                    <a class="dropdown-item" href="#">Edit statement</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="row p-3">
            <!-- pie chart canvas element -->
            <!-- Tilt element -->
            <div class="col">
              <div data-tilt data-tilt-max="7">
                <canvas id="<%- dataSta[sta].statement_id %>" height="250"></canvas>
              </div>
            </div>
            <script>
              new Chart(document.getElementById("<%- dataSta[sta].statement_id %>"), {
                  type: 'pie',
                data: {
                  labels: <%- JSON.stringify(charts.chartParent.chartLabel) %>,
                  datasets: [{
                    label: "Category and subcategory",
                    backgroundColor: <%- JSON.stringify(charts.chartParent.chartColor) %>,
                    data: [<%= charts.chartParent.dataValueWithdraw %>]
                  }]
                },
                options: {
                  title: {
                    display: true,
                    text: '<%= charts.chartParent.chartName %>'
                  }
                }
              });
            </script>
          </div>

        </div>
      </div>
    <% } %>

  </div>
<% } %>


<% if(pageInfo.request === "POST" || pageInfo.request === "GETPOST") { %>
  <table class="table table-borderless animated fadeIn">
    <thead class="thead-dark border-bottom border-danger">
      <% for(var jj=0; jj < dataSta.length; jj++) { %>
        <th colspan="2" class="text-center"><i class="fab fa-gripfire"></i></th>
        <th colspan="1" class="text-center">Title:
          <a class="text-info">
            <%- dataSta[jj].statementName %>
          </a>
        </th>
        <th colspan="1" class="text-center">Type:
          <a class="text-info">
            <%- dataSta[jj].statementType %>
          </a>
        </th>
        <th colspan="1" scope="col" class="text-center">Date:
          <a class="text-info">
            <%- dataSta[jj].statementDate %>
          </a>
        </th>
      <% } %>
    </thead>
    <thead class="thead-dark">
      <tr class="bg-dark text-light">
        <th scope="col" class="text-center"> <i class="twa twa-lg twa-sparkles"></i> </th>
        <th scope="col" class="">Date</th>
        <th scope="col" class="">Description</th>
        <th scope="col" class="text-center">Transaction</th>
        <th scope="col" class="text-center">Category</th>
      </tr>
    </thead>
    <tbody>
      <% for(var j=0; j < dataTrans.length; j++) { %>
      <form id="update<%- j %>" action="/statement/update" method="post">
        <tr class="card-1 ">
          <td class="align-middle text-center">
            <i class="twa twa-lg twa-panda-face"> </i>
          </td>
          <td class="align-middle"> <%- dataTrans[j].transactionDate %></td>
          <td class="align-middle"> <%- dataTrans[j].transactionDesc %> </td>

          <td class="align-middle">
            <% if(dataTrans[j].transactionWithdraw) { %>
              <%- dataTrans[j].transactionWithdraw %>
              <span class="badge badge-pill badge-info">withdraw</span>
            <% } %>
            <% if(dataTrans[j].transactionDeposite) { %>
              <%- dataTrans[j].transactionDeposite %>
              <span class="badge badge-pill badge-primary">deposite</span>
            <% } %>
          </td>
          <td class="align-middle text-center">
            <% if(dataTrans[j].transactiontCategory === "nada") { %>
              <div class="input-group">
                <!-- form hidden fields - submit -->
                <input value="<%- dataTrans[j].transactionId %>" type="hidden" name="transactionId" />
                <select name="transactionCatName" class="form-control custom-select">
                <option value="nada">choose category</option>
                <% for(var z=0; z < dataCat.length; z++) { %>
                  <% if (dataCat[z].catParent == "root" ) { %>
                    <optgroup label="<%= dataCat[z].catName %>">
                      <% for (var k=0; k < dataCat.length; k++) { %>
                        <% if (dataCat[z]._id == dataCat[k].catParent ) { %>
                          <option value="<%= dataCat[k]._id %>"><%= dataCat[k].catName %></option>
                        <% } %>
                      <% } %>
                    </optgroup>
                  <% } %>
                <% } %>
                </select>
                <div class="input-group-append">
                  <button class="btn btn-outline-info" form="update<%- j %>">
                  <i class="fas fa-angle-double-right"></i> </button>
                </div>
              </div>
            <% } else { %>
              <% for(var cat=0; cat < dataCat.length; cat++) { %>
                <% if(dataCat[cat]._id == dataTrans[j].transactiontCategory) { %>
                  <div class=" animated fadeIn"
                    ng-init="show<%- j %>='no'" ng-show="show<%- j %>=='no'" ng-click="show<%- j %>='yes'">
                    <%- dataCat[cat].catName %>
                    <span class="badge"> <i class="twa twa-lg twa-pencil2"></i></span>
                  </div>
                 <div class="input-group animated fadeIn" ng-show="show<%- j %>=='yes'">
                   <div class="input-group-prepend" ng-click="show<%- j %>='no'">
                     <button class="btn btn-outline-success" type="button">
                     <i class="fas fa-angle-double-left"></i> </button>
                   </div>
                   <!-- form hidden fields - submit -->
                   <input value="<%- dataTrans[j].transactionId %>" type="hidden" name="transactionId" />
                   <select name="transactionCatName" class="form-control custom-select">
                   <option value="nada">choose category</option>
                   <% for(var z=0; z < dataCat.length; z++) { %>
                     <% if (dataCat[z].catParent == "root" ) { %>
                       <optgroup label="<%= dataCat[z].catName %>">
                         <% for (var k=0; k < dataCat.length; k++) { %>
                           <% if (dataCat[z]._id == dataCat[k].catParent ) { %>
                             <option value="<%= dataCat[k]._id %>"><%= dataCat[k].catName %></option>
                           <% } %>
                         <% } %>
                       </optgroup>
                     <% } %>
                   <% } %>
                   </select>
                   <div class="input-group-append">
                     <button class="btn btn-outline-info" form="update<%- j %>">
                     <i class="fas fa-angle-double-right"></i> </button>
                   </div>
                 </div>

                <% } %>
              <% }%>

            <% }%>
          </td>
        </tr>
      </form>
      <% } %>
    </tbody>
  </table>
<% } %>
