<!-- page Info -->
<div class="modal fade" id="pageInfo" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class=" btn-danger py-2" data-dismiss="modal"> </div>
      <div class="modal-header">
        <h1 class="modal-title display-4 text-info">Page info</h1>
      </div>

      <div class="modal-body container">
        <p>pageInfo:
          <code><%- JSON.stringify(pageInfo) %></code>
        </p>
        <p>data:
          <code><%- JSON.stringify(data) %></code>
        </p>
      </div>

    </div>
  </div>
</div>


<!-- user Add Modal -->
<div class="modal fade" id="catAddD" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class=" btn-danger py-2" data-dismiss="modal"> </div>
      <div class="modal-header">
        <h1 class="modal-title display-4 text-info"><%- pageInfo.title %></h1>
      </div>
      <div class="modal-body">

        <form class="row" name="adduser" method="post" action="/category/add">
          <div class="container py-4">
            <input type="text" class="form-control form-control-lg py-2 my-2" placeholder="category name" name="catName" required>
            <select class="form-control form-control-lg custom-select my-2 py-0" name="catParent">
              <option value="root">category (new)</option>
                <% for(var i=0; i < data.length; i++) { %>
                <% if (data[i].catParent == "root") { %>
              <option value="<%= data[i]._id %>">
                <%= data[i].catName %>
              </option>
                <% } %>
              <% } %>
            </select>
            <hr>
            <div class="text-center">
              <button type="submit" class="btn btn-outline-primary ">add user </button>
            </div>
          </div>
        </form>


      </div>

    </div>
  </div>
</div>
