<% for(var i=0; i < data.length; i++) { %>
  <table class="table table-borderless">
    <thead class="thead-dark border-bottom border-danger">
      <th colspan="1" class="text-center"><code><i class="fab fa-gripfire"></i></code></th>
      <th colspan="1" class="text-center">Title:   <code><%- data[i].statementInfo.statementName %></code></th>
      <th colspan="1" class="text-center">Type:   <code><%- data[i].statementInfo.statementType %></code></th>
      <th colspan="1" scope="col" class="text-center">Date:   <code><%- data[i].statementInfo.statementDate %></code></th>
      <th colspan="1" scope="col" class="text-center text-danger card-1">
        <i class="fas fa-wrench"></i>
      </th>
    </thead>
    <thead class="thead-dark">
      <tr class="bg-dark text-light">
        <th scope="col" class="text-center">Date</th>
        <th scope="col" class="text-center">Description</th>
        <th scope="col" class="text-center">Type</th>
        <th scope="col" class="text-center">Transaction</th>
        <th scope="col" class="text-center">Catergory</th>
      </tr>
    </thead>
    <tbody>
      <% for(var j=0; j < data[i].transactionInfo.length; j++) { %>
        <tr class="card-1 ">
          <th scope="col" class="text-center align-middle">
            <%- data[i].transactionInfo[j].transDate %>
          </th>
          <td class="align-middle">
            <%- data[i].transactionInfo[j].transDesc %>
          </td>
          <!-- Withdraw or Deposite - label -->
          <td class="text-center align-middle">
            <% if(data[i].transactionInfo[j].transWithdraw) { %>
              <span class="badge badge-info font-italic">withdrawal</span>
            <% } %>
            <% if(data[i].transactionInfo[j].transDeposite) { %>
              <span class="badge badge-primary font-italic">deposite</span>
            <% } %>
          </td>
          <!-- Withdraw or Deposite - $ -->
          <td class="text-center align-middle">
            <% if(data[i].transactionInfo[j].transWithdraw) { %>
                $ <%= data[i].transactionInfo[j].transWithdraw %>
            <% } %>
            <% if(data[i].transactionInfo[j].transDeposite) { %>
                $ <%= data[i].transactionInfo[j].transDeposite %>
            <% } %>
          </td>
          <td class="text-center align-middle">
          <% for(var y=0; y < dataCat.length; y++) { %>
            <% if (data[i].transactionInfo[j].transCat == dataCat[y]._id) { %>
              <span class="badge badge-warning"><%= dataCat[y].catName %></span>
            <% } %>
          <% } %>
          <% if (data[i].transactionInfo[j].transCat == "nada") { %>
            <button data-toggle="modal" data-target="#modalTrans<%= data[i].transactionInfo[j].transId %>"
              class="btn btn-outline-warning">Attention</button>
          <% } %>
          </td>
        </tr>



        <!-- Modal for update user -->
        <!-- Modal -->
        <div class="modal fade" id="modalTrans<%= data[i].transactionInfo[j].transId %>" tabindex="-1" role="dialog"aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content card-1">
              <div class=" btn-danger py-2" data-dismiss="modal"> </div>

              <div class="modal-header">
                <h4><%= pageInfo.title %><small> update </small></h4>
              </div>
              <div class="modal-body">
                <h5 class="mb-3 text-center">
                  <a class="btn disabled bold"> <%- j %></a>
                  <a class="btn disabled "><%- data[i].transactionInfo[j].transId %></a>
                  <% if(data[i].transactionInfo[j].transWithdraw) { %>
                    <span><strong><em>withdrawal</em></strong> <span class="border-bottom border-warning alert-warning p-1 font-20">$ <%= data[i].transactionInfo[j].transWithdraw %></span></span>
                  <% } %>
                  <% if(data[i].transactionInfo[j].transDeposite) { %>
                    <span><strong><em>deposite</em></strong> <span class="border-bottom border-primary alert-primary">$ <%= data[i].transactionInfo[j].transDeposite %></span></span>
                  <% } %>
                  <small>on</small>
                  <%- data[i].transactionInfo[j].transDate %>
                </h5>
                <h5 class="mb-3 text-center">
                  <strong>Transaction: </strong><small><%- data[i].transactionInfo[j].transDesc %></small>
                </h5>



                <form id="transUpdate<%= data[i].transactionInfo[j].transId %>" action="/statement/update" method="post" class="container-fluid">
                  <%= JSON.stringify(data[i].transactionInfo[j]) %>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Catergory</span>
                    </div>transtransIDtrans
                    <input type="hidden" name="transtrans" value="<%= j %>" />
                    <input type="hidden" name="transStaId" value="<%= data[i]._id %>" />
                    <input type="hidden" name="transTransId" value="<%= data[i].transactionInfo[j].transId %>" />
                    <input type="hidden" name="transTransDate" value="<%= data[i].transactionInfo[j].transDate %>" />
                    <input type="hidden" name="transTransDesc" value="<%= data[i].transactionInfo[j].transDesc %>" />
                    <input type="hidden" name="transTransWithdraw" value="<%= data[i].transactionInfo[j].transWithdraw %>" />
                    <input type="hidden" name="transTransDeposite" value="<%= data[i].transactionInfo[j].transDeposite %>" />
                    <input type="hidden" name="transTransBalance" value="<%= data[i].transactionInfo[j].transBalance %>" />
                    <input type="hidden" name="transTransComment" value="<%= data[i].transactionInfo[j].transComment %>" />
                    <select name="transTransCat" class="custom-select">
                      <option >choose one</option>
                      <% for(var z=0; z < dataCat.length; z++) { %>
                        <% if (dataCat[z].catParent == "root" ) { %>
                          <optgroup label="<%= dataCat[z].catName %>">
                            <% for (var k=0; k < dataCat.length; k++) { %>
                              <% if (dataCat[z]._id == dataCat[k].catParent ) { %>
                                <option value="<%= dataCat[k]._id %>"><%= dataCat[k].catName %></option>
                              <% } %>
                            <% } %>
                          </optgroup>
                        <% } %>
                      <% } %>
                    </select>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button form="transUpdate<%= data[i].transactionInfo[j].transId %>"
                  class="btn btn-outline-success">Apply </button>
              </div>

            </div>
          </div>
        </div>
      <% } %>
    </tbody>
  </table>
<% } %>
