<!doctype html>
<html lang="en">
<head> <%- include('../../layout/head') -%> </head>
<body>

<div class="wrapper h-100">
  <!-- Page Content  -->
  <div id="content" class="h-100 p-4">
    <!-- content wrapper -->
    <div class="container-fluid h-100 ">
      <div class="row h-100 ">
        <!-- screen size - col-1 col-md-1 col-lg-3  -->
        <!-- first bar -->
        <div class="col-1 col-md-1 col-lg-2">
          <div class="row align-items-center h-100">
            <%- include('../../layout/sideNav') -%>
          </div>
        </div>
        <!-- second bar -->
        <div class="col-11 col-md-11 col-lg-10 h-100">
          <div class="row h-100">
            <div class="col-11 h-100 ">
              <div class="h-100 scrollYes card-1 bg-white alert">
                <div class="container-fluid alert pt-4">
                  <%- include('../../layout/contentHead') -%>
                <hr>
                  <%- include('assetsInfo/contentBody') -%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../../layout/foot') -%>
</body>
</html>
