<div class="list-group ">
  <h4 class="display-4"> uncategorize </h4>

  <% for(var i=0; i < transaction.length; i++) { %>
  <a class="list-group-item">

    <form name="removeUser" method="post" action="/transaction/remove">
     <input type="hidden" name="statementID" value="<%= transaction[i]._id %>">
     <td> <button class="btn btn-outline-danger"> Remove </button></td>
   </form>

    <h5 class="list-group-item-heading">
      _id <code><%- JSON.stringify(transaction[i]._id) %></code>
    </h5>
    <h5 class="list-group-item-text">
      uploadDate <code><%- JSON.stringify(transaction[i].uploadDate) %></code>
    </h5>
    <h5 class="list-group-item-text">
      statementInfo <code><%- JSON.stringify(transaction[i].statementInfo) %></code>
    </h5>
    <h5 class="list-group-item-text">
      transactionInfo <code><%- JSON.stringify(transaction[i]) %></code>
    </h5>

  </a>
  <% } %>
</div>
