<%- include('../layout/header') -%>
<%- include('../layout/navDos') -%>

<div class="container">

  <h1 class="display-4 text-center">upload</h1>
  <p class="text-center"> <%- pageInfo.title %> </p>

  <div class="input-group-append">
    <a class="btn btn-outline-primary" href="/transaction/upload">Upload</a>
    <a class="btn btn-outline-info" href="/transaction">Back</a>
  </div>

  <hr>
</div>

<div class="container">


  <% for(var i=0; i < transaction.length; i++) { %>
    <%- JSON.stringify(transaction[i].transactionInfo) %>
  <% } %>






</div>





<%- include('../layout/footer') -%>
