<%- include('../layout/header') -%>
<%- include('../layout/navDos') -%>

<div class="container word-wrap">
  <p class="text-center display-2">
    <%- pageInfo.title %>
    <small class="text-center text-info display-4">
      <%- pageInfo.page %>
    </small>
   </p>

  <div class="col">
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="Search">
      <div class="input-group-prepend">
        <a class="btn btn-outline-primary" href="/transaction">
          Search
        </a>
        <a class="btn btn-outline-success" href="/transaction/upload">
          <i class="fas fa-upload"></i>
        </a>
        <%- include('../layout/nav') -%>
      </div>
    </div>
  </div>

  <hr>
</div>

<div class="col word-wrap">
  <div class="row">
    <div class="col-md-8 m-h-t card-1">
      Results
      <%- include('list') -%>
    </div>
    <div class="col-md-4 m-h-t card-1">

    </div>
  </div>
</div>



<%- include('../layout/footer') -%>
