<!--

Form

subRM - Remove sub on main
- removeCat - id - data[j]._id

pCatRM - Remove cat on modal
- removeCat - id - data[i]._id
sCatRM - Remove sub on modal
- removeCat - id - data[z]._id

pCatUP - update cat on modal
- update Cat - id - data[i]._id
updateCatName
updateCatId

sCatUP - update cat on modal
- update Cat  - id - data[z]._id
updateCatName
updateCatId

-->

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr class="bg-dark text-light">
      <th>Category</th>
      <th>Sub category</th>
      <th>Modify</th>
    </tr>
  </thead>
  <tbody>

  <% for(var i=0; i < data.length; i++) { %>
    <% if (data[i].catParent == "root" ) { %>
      <tr class="card-1">
        <td><%= data[i].catName %></td>
        <td>
          <% for (var j=0; j < data.length; j++) { %>
            <% if (data[i]._id == data[j].catParent ) { %>
              <div class="badge badge-warning">
                <%= data[j].catName %>
                <form id="subRM<%= data[j]._id %>" method="post" action="/category/remove" class="d-inline">
                  <input type="hidden" name="removeCat" value="<%= data[j]._id %>">
                </form>
                <button form="subRM<%= data[j]._id %>" type="submit" class="badge badge-warning badge-pill btn">
                  <i class="text-danger fas fa-times"></i></button>
              </div>
            <% } %>
          <% } %>
        </td>
        <td>
          <div class="input-group-append">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button data-toggle="modal" data-target="#modal<%= data[i]._id %>" class="btn btn-outline-primary">
                <i class="fas fa-edit"></i></button>
            </div>
          </div>
        </td>
      </tr>

      <!-- Modal for update Category -->
      <!-- Modal -->
      <div class="modal fade" id="modal<%= data[i]._id %>" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content card-1">
            <div class=" btn-danger py-2" data-dismiss="modal"></div>

            <div class="modal-header">
              <h4><%= pageInfo.title %><small><strong> update</strong></small><%= data[i].catName %> </h4>
            </div>
            <div class="modal-body">
              <ul>
                <li> <!-- Category parent LIST-->
                  <form id="pCatRM<%= data[i]._id %>" method="post" action="/category/remove">
                    <input type="hidden" name="removeCat" value="<%= data[i]._id %>">
                  </form>
                  <form id="pCatUP<%= data[i]._id %>" method="post" action="/category/update">
                    <div class="input-group">
                      <input type="hidden" name="updateCatId" value="<%= data[i]._id %>">
                      <input type="text" name="updateCatName" value="<%= data[i].catName %>" class="form-control">
                      <input type="hidden" name="updateCatParent" value="<%= data[i].catParent %>" class="form-control">

                      <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-success" form="pCatUP<%= data[i]._id %>">
                          <i class="fas fa-pen"></i></button>
                        <button type="submit" class="btn btn-danger" form="pCatRM<%= data[i]._id %>" >
                          <i class="fas fa-times"></i></button>
                      </div>
                    </div>
                  </form>
                  <ul>
                    <% for (var z=0; z < data.length; z++) { %>
                      <% if (data[i]._id == data[z].catParent) { %>
                      <li> <!-- Category child LIST -->
                        <form id="sCatRM<%= data[z]._id %>" method="post" action="/category/remove">
                          <input type="hidden" name="removeCat" value="<%= data[z]._id %>">
                        </form>
                        <form id="sCatUP<%= data[z]._id %>" method="post" action="/category/update">
                          <div class="input-group input-group-sm my-1">
                            <input type="hidden" name="updateCatId" value="<%= data[z]._id %>">
                            <input type="text" name="updateCatName" value="<%= data[z].catName %>" class="form-control">
                            <input type="hidden" name="updateCatParent" value="<%= data[z].catParent %>" class="form-control">

                            <div class="input-group-append">
                              <button type="submit" class="btn btn-outline-success" form="sCatUP<%= data[z]._id %>">
                                <i class="fas fa-pen"></i></button>
                              <button type="submit" class="btn btn-outline-danger" form="sCatRM<%= data[z]._id %>">
                                <i class="fas fa-times"></i></button>
                            </div>
                          </div>
                        </form>
                      </li>
                      <% } %>
                    <% } %>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="modal-footer">
              <button class="mx-2 btn btn-danger" type="button" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>
    <% } %>
  <% } %>
  </tbody>
</table>
