<h3 class="text-center display-5">summary <small> <%- pageInfo.title %></small></h3>
<hr>
<!-- pie chart canvas element -->
<canvas id="polar-chart" width="400" height="400"></canvas>
<!-- bar chart canvas element -->
<script>

  // pie chart data
  new Chart(document.getElementById("polar-chart"), {
      type: 'polarArea',
      data: {
        labels: <%- JSON.stringify(chartInfo.chartData.dataLabel) %>,
        datasets: [
          {
            label: "bling Blaw $$$",
            backgroundColor: <%- JSON.stringify(chartInfo.chartData.dataColor) %>,
            data: <%- JSON.stringify(chartInfo.chartData.dataValue) %>
          }
        ]
      },
      options: {
        title: {
          display: true,
          text: '<%- chartInfo.chartName %>'
        }
      }
  });
</script>
