
<% for(var i=0; i < statement.length; i++) { %>
<div class="alert alert-dark" role="alert">

  <div class="row ">
    <div class="col-7">
      <h5 class="alert-heading">statement <em>info</em>
        <code>
          <%= statement[i].statementInfo.statementName %>
          <small>created <em>on</em></small>
          <%= statement[i].statementInfo.statementDate %>
          <small>statement <em>type</em></small>
          <%= statement[i].statementInfo.statementType %>
        </code>
      </h4>
    </div>
    <div class="col">
      <div class="row justify-content-center">
        <div class="btn-toolbar align-center" role="toolbar">

          <div class="btn-group" role="group">
            <button type="button" class="btn btn-sm btn-info"
              data-toggle="tooltip" data-placement="bottom"
              title="<%= JSON.stringify(statement[i]) %>" ><i class="fas fa-info"></i>
            </button>
            <button type="button" class="btn btn-sm btn-secondary"
              data-toggle="tooltip" data-placement="bottom"
              title="<%= JSON.stringify(statement[i]._id) %>" >_id
            </button>
            <button type="button" class="btn btn-sm btn-secondary"
              data-toggle="tooltip" data-placement="bottom"
              title="<%= JSON.stringify(statement[i].statementInfo) %>" >statementInfo
            </button>
            <button type="button" class="btn btn-sm btn-secondary"
              data-toggle="tooltip" data-placement="bottom"
              title="<%= JSON.stringify(statement[i].transactionInfo) %>" >transactionInfo
            </button>
            <button type="button" class="btn btn-sm btn-secondary"
              data-toggle="tooltip" data-placement="bottom"
              title="<%= JSON.stringify(categoryInfo) %>" >categoryInfo
            </button>
            <button type="button" class="btn btn-sm btn-danger" form="removeStatement" disabled>
              <i class="fas fa-times"></i>
            </button>
            <form  id="removeStatement" name="removeStatement" method="post" action="/statement/remove">
             <input type="hidden" name="statementID" value="<%= statement[i]._id %>">
           </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <table class="table card-1 bg-light">
    <thead class="thead-dark">
      <tr class="card-1-no">
        <th scope="col" class="text-center"><i class="fas fa-info"></i></th>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
        <th scope="col">Type</th>
        <th scope="col" class="text-center">Transaction</th>
        <th scope="col" class="text-center">Catergory</th>
      </tr>
    </thead>
    <tbody>
    <% var lenSub = statement[i].transactionInfo %>
    <% for(var j=0; j < lenSub.length; j++) { %>
      <tr class="card-2 ">
      <form action="/statement/update" id="formTrans">
        <!-- transactionInfo -->
        <td class="align-middle" data-toggle="collapse" data-target=".order-<%= statement[i].transactionInfo[j].transId %>">
          <button class="btn btn-link" type="button" data-toggle="collapse"
            data-target="#asd-<%= statement[i].transactionInfo[j].transId %>" aria-expanded="false"
            aria-controls="asd-<%= statement[i].transactionInfo[j].transId %>">
            <i class="fas fa-plus"></i>
          </button>
        </td>
        <!-- transDate -->
        <td class="align-middle"><%= statement[i].transactionInfo[j].transDate %></td>
        <!-- transDesc -->
        <td class="align-middle"><%= statement[i].transactionInfo[j].transDesc %></td>
        <!-- Withdraw or Deposite - label -->
        <td class="align-middle">
          <% if(statement[i].transactionInfo[j].transWithdraw) { %>
            <span class="badge badge-info font-italic">withdrawal</span>
          <% } %>
          <% if(statement[i].transactionInfo[j].transDeposite) { %>
            <span class="badge badge-primary font-italic">deposite</span>
          <% } %>
        </td>
        <!-- Withdraw or Deposite - $ -->
        <td class="text-center align-middle">
          <% if(statement[i].transactionInfo[j].transWithdraw) { %>
              $ <%= statement[i].transactionInfo[j].transWithdraw %>
          <% } %>
          <% if(statement[i].transactionInfo[j].transDeposite) { %>
              $ <%= statement[i].transactionInfo[j].transDeposite %>
          <% } %>
        </td>
        <!-- select options Catergory -->
        <td class="text-center align-middle">
          <div class="input-group">
            <select class="custom-select">
              <option selected disabled>Choose...</option>
              <% for(var z=0; z < categoryInfo.length; z++) { %>
                <% if (categoryInfo[z].catParent == "root" ) { %>
                  <optgroup label="<%= categoryInfo[z].catName %>">
                  <% for (var y=0; y < categoryInfo.length; y++) { %>
                    <% if (categoryInfo[z]._id == categoryInfo[y].catParent ) { %>
                      <option value="<%= categoryInfo[y]._id %>">
                        <%= categoryInfo[y].catName %>
                      </option>
                    <% } %>
                  <% } %>
                  </optgroup>
                <% } %>
              <% } %>
            </select>
            <div class="input-group-append">
              <button class="btn btn-outline-success" type="submit" form="formTrans">
                <i class="fas fa-check"></i>
              </button>
            </div>
          </div>
        </td>
      </form>
      </tr>
      <tr class="collapse order-<%= statement[i].transactionInfo[j].transId %>">
        <td colspan="6" class="">
          <div class="card-1-no alert alert-success container p-3 text-center">
            <%= JSON.stringify(statement[i].transactionInfo[j]) %>
          </div>
        </td>
      </tr>
    <% } %>
    </tbody>
  </table>

</div>

<% } %>
