<%- include('../layout/header') -%>
<%- include('../layout/navDos') -%>

  <% if (pageInfo.request == 'get') { %>
  <div class="container">
    <p class="text-center display-2">
      <%- pageInfo.title %>
      <small class="text-center text-info display-4">
        <%- pageInfo.page %>
      </small>
     </p>
    <hr>
  </div>

  <form action="/statement/upload" method="post">
  <div class="container">
    <div class="row">

    <div class="col-md-6 card-1 p-2">
      <div class="col p-1">
        <div class="form-group">
          <label for="statementName">name</label>
          <input type="text" class="form-control"
          name="statementName" id="statementName" required>
        </div>
        <div class="form-group">
          <label for="statementType">type</label>
          <select class="custom-select"
            name="statementType" id="statementType" aria-label="Example select with button addon">
            <option selected>Choose...</option>
            <option value="1">Credit Card</option>
            <option value="2">Debit</option>
            <option value="3">Saving</option>
          </select>
        </div>
        <div class="form-group">
          <label for="statementDate" class="col-2 col-form-label">date</label>
          <input class="form-control" type="date" value="2011-08-19"
            name="statementDate" id="statementDate">
        </div>
      </div>
      <hr>
      <div class="col">
        <div class="form-group">
         <label for="statementDesc">Comments</label>
         <textarea class="form-control" rows="3"
          name="statementDesc" id="statementDesc"></textarea>
       </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="col card-1 p-5">
        <div class="form-group">
          <label for="statementFile">Statement file <small>.csv</small></label>
          <div class="custom-file" id="statementFile">
            <input type="file"
            class="custom-file-input"
            name="statementFileInput" id="statementFileInput" aria-describedby="fileHelp" required>
            <label class="custom-file-label" for="statementFileInput">
               Select file...
            </label>
          </div>
        </div>
      </div>

      <div class="p-4">
        <div class="text-center">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-outline-primary">
              upload
            </button>
            <a class="btn btn-outline-info" type="button"
              href="/statement">statement</a>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
  </form>
  <% } else { %>

  <div class="container text-center">
    <p class="text-center display-2">
      <%- pageInfo.title %>
      <small class="text-center text-info display-4">
        <%- pageInfo.page %>
      </small>
      <a class="btn btn-lg btn-outline-primary" href="/statement" role="button">
        <i class="fas fa-angle-double-left"></i>
      </a>
     </p>
     <a><strong>Statement: </strong><code><%= statementInfo.statementName %></code></a>
     <a><strong>Account Type: </strong><code> <%= statementInfo.statementType %></code></a>
     <a><strong>Uploaded file: </strong><code> <%= statementInfo.statementFileInput %></code></a>
    <hr>
  </div>

  <div class="container">
    <table class="table card-1">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Desc</th>
          <th scope="col">Withdraw</th>
          <th scope="col">Deposite</th>
          <th scope="col">Balance</th>
        </tr>
      </thead>
      <tbody>
      <% for(var i=0; i < transactionInfo.length; i++) { %>
        <tr>
          <td id="transId"><%- transactionInfo[i].transId %></td>
          <td id="transDate"><%- transactionInfo[i].transDate %></td>
          <td id="transDesc"><%- transactionInfo[i].transDesc %></td>
          <td id="transWithdraw"><%- transactionInfo[i].transWithdraw %></td>
          <td id="transDeposite"><%- transactionInfo[i].transDeposite %></td>
          <td id="transBalance"><%- transactionInfo[i].transBalance %></td>
        </tr>
      <% } %>
    </tbody>
    </table>
  </div>
  <% } %>


<%- include('../layout/footer') -%>
