  <table class="table table-bordered card-1 bg-light">
    <thead class="thead-dark">
      <tr>
        <th scope="col">_id</th>
        <th scope="col">User</th>
        <th scope="col">Pwd</th>
        <th scope="col">Date</th>
        <th scope="col">Modify</th>
      </tr>
    </thead>
    <tbody>
      <% if (data) { %>
        <% for(var i=0; i < data.length; i++) { %>
          <tr>
            <form id="upUser-<%= data[i]._id %>" method="post" action="/user/remove">
              <th>
                <%= data[i]._id %>
              </th>
              <td>
                <%= data[i].userName %>
              </td>
              <td>
                <%= data[i].userPwd %>
              </td>
              <td>
                <%= data[i].userDate %>
              </td>
            </form>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button form="upUser-<%= data[i]._id %>" class="btn btn-primary"
                  data-toggle="tooltip" data-placement="top" title="Update user: <%= data[i].userName %>">
                  <i class="fas fa-user-edit"></i></button>
                <button form="rmUser-<%= data[i]._id %>" class="btn btn-danger"
                  data-toggle="tooltip" data-placement="top" title="Remove user: <%= data[i].userName %>">
                  <i class="fas fa-user-times"></i></button>
              </div>
              <form id="rmUser-<%= data[i]._id %>" method="post" action="/user/remove">
                <input type="hidden" name="userID" value="<%= data[i]._id %>">
              </form>
            </td>
          </tr>
          <% } %>
        <% } %>
    </tbody>
  </table>
