
  <table class="table table-bordered card-1 bg-light">
    <thead class="thead-dark">
      <tr>
        <th scope="col">_id</th>
        <th scope="col">User</th>
        <th scope="col">Pwd</th>
        <th scope="col">Date</th>
        <th scope="col">Modify</th>
      </tr>
    </thead>
    <tbody>
      <% if (data) { %>
        <% for(var i=0; i < data.length; i++) { %>
          <tr>
            <form name="removeUser" method="post" action="/user/remove">
              <th scope="row">
                <%= data[i]._id %>
              </th>
              <td>
                <%= data[i].userName %>
              </td>
              <td>
                <%= data[i].userPwd %>
              </td>
              <td>
                <%= data[i].userDate %>
              </td>
              <input type="hidden" name="userID" value="<%= data[i]._id %>">
              <td> <button class="btn btn-danger btn-sm"> Remove </button></td>
            </form>
          </tr>
          <% } %>
        <% } %>
    </tbody>
  </table>
