<div class="container h-50 show">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12 text-center">

      <h1 class="">
        <i class="fa-piggy-bank fa animated pulse slower infinite delay-2s"></i> expense
        <small>summary</small>
      </h1>
    </div>
  </div>
</div>


<% for(var jj=0; jj < chartInfoChild.charts.length; jj++) { %>

  <% var anime = ["wobble", "jello", "pulse", "rubberBand", "jackInTheBox", "lightSpeedIn", "tada"]; %>
  <% var animeRandom = anime[Math.floor(Math.random()*anime.length)]; %>

    <div id="chartDetails<%= chartInfoChild.charts[jj].chartData.dataParentId %>"
        class="hide animated pulse container">
      <canvas id="myChart<%= chartInfoChild.charts[jj].chartData.dataParentId %>"
        class="container" height="250"></canvas>
    </div>
    <script>
      var data = <%- JSON.stringify(chartInfoChild.charts[jj].chartData.dataValue) %>;
      var labels = <%- JSON.stringify(chartInfoChild.charts[jj].chartData.dataLabel) %>;
      var bgColor = <%- JSON.stringify(chartInfoChild.charts[jj].chartData.dataColor) %>;
      var title = <%- JSON.stringify(chartInfoChild.charts[jj].chartName) %>;
      var chartIdName = "myChart<%= chartInfoChild.charts[jj].chartData.dataParentId %>";

      var ctx = document.getElementById(chartIdName).getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'polarArea',
        options: {
          title: {
            display: true,
            text: title
          }
        },
        data: {
          labels: labels,
          datasets: [{
            data: data,
            backgroundColor: bgColor
          }]
        }
      });

    </script>
    <% } %>
