<%- include('../layout/header') -%>
  <%- include('../layout/navDos') -%>

<!-- Header -->
<div class="container">
  <p class="text-center display-2">
    <%- pageInfo.title %>
    <small class="text-center text-info display-4">
      <%- pageInfo.page %>
    </small>
  </p>
  <!-- Add category -->
  <div class="col">
    <%- include('add') -%>
  </div>

  <hr>
</div>

<!-- Table -->
<!-- Category details -->
<div class="container">
  <table class="table table-bordered m-2">
    <thead>
      <tr>
        <th colspan="">Category</th>
        <th colspan="">Sub category</th>
        <th colspan="">Edit</th>
      </tr>
    </thead>
    <tbody>
      <% var catLen = categoryInfo.length; %>
      <% for(var i=0; i < catLen; i++) { %>
        <tr>
          <% if (categoryInfo[i].catParent == "root" ) { %>

            <td><%= categoryInfo[i].catName %></td>
            <td class="text-info">
              <% for (var j=0; j < catLen; j++) { %>
                <% if (categoryInfo[i]._id == categoryInfo[j].catParent ) { %>
                  <form name="removeCatSub" method="post" action="/category/remove"
                    class="d-inline">
                    <div class="badge badge-warning">
                      <%= categoryInfo[j].catName %>
                      <input type="hidden" name="removeCatSubID" value="<%= categoryInfo[j]._id %>">
                      <a class="badge badge-warning badge-pill btn"
                          onclick='document.forms["removeCatSub"].submit(); return false;'>
                        <i class="text-danger fas fa-times"></i>
                      </a>
                    </div>
                  </form>
                <% } %>
              <% } %>
            </td>
            <td>
              <form name="removeCat" method="post" action="/category/remove">
                <input type="hidden" name="removeCatID" value="<%= categoryInfo[i]._id %>">
                <button class="btn btn-outline-danger"> Remove </button>
              </form>
            </td>
          <% } else { %>
            <!-- Only display Parent category -->
            <% if (false) { %>
              <td>[<%= i %>] <%= categoryInfo[i]._id %></td>
              <td>[<%= i %>] <%= categoryInfo[i].catName %></td>
              <td>[<%= i %>] <%= categoryInfo[i].catParent %></td>
              <td class="text-dangere"> Child Object </td>
              <td>
                <form name="removeCat" method="post" action="/category/remove">
                  <input type="hidden" name="removeCatID" value="<%= categoryInfo[i]._id %>">
                  <button class="btn btn-outline-danger"> Remove </button>
                </form>
              </td>
            <% } %>

          <% } %>
        </tr>
      <% } %>
    </tbody>
  </table>

  <code class="text-center">
    <h5 class="display-3">Raw data </h5>
    <p><%- JSON.stringify(categoryInfo) -%></p>
  </code>
</div>
<%- include('../layout/footer') -%>
