<%- include('../layout/header') -%>
<%- include('../layout/navDos') -%>

<div class="container">
  <p class="text-center display-2">
    <%- pageInfo.title %>
    <small class="text-center text-info display-4">
      <%- pageInfo.page %>
    </small>
   </p>

  <hr>
</div>

<div class="container">
  <div class="col">

  <form name="addcat" method="post" action="/category">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Add category</span>
      </div>
      <input type="text" placeholder="category name" class="form-control" name="catName" required>

      <select class="custom-select" name="catParent">
        <option>categories</option>
        <% for(var i=0; i < categoryInfo.length; i++) { %>
          <option>
            <%= categoryInfo[i].catParent %>
          </option>
        <% } %>
      </select>

      <div class="input-group-append">
        <button type="submit" class="btn btn-outline-primary">Add</button>
        <%- include('../layout/nav') -%>
      </div>
    </div>
  </form>

  </div>
</div>

<div class="container">
  <code class="text-center">
    <h5>Raw data </h5>
    <p><%- JSON.stringify(categoryInfo) -%></p>
  </code>

<code class="m-1">
  <% for(var i=0; i < categoryInfo.length; i++) { %>
  <p>
    Cat Parent: <small class="text-primary"><%= categoryInfo[i].catParent %></small>
    Cat Name: <small class="text-info"><%= categoryInfo[i].catName %></small>
  </p>
  <% } %>
</code>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th rowspan="">#</th>
        <th rowspan="" class="">Parent category</th>
        <th colspan="">Child category</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i < categoryInfo.length; i++) { %>
      <tr>
        <td><%= i %></td>
        <td><%= categoryInfo[i].catParent %></td>
        <td rowspan=""><%= categoryInfo[i].catName %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>






















<%- include('../layout/footer') -%>
